@model IEnumerable<MvcMovie.Models.Movie>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p >
    @Html.ActionLink("Crear Nova", "Create")

    @using (Html.BeginForm())
    {
<p class="filtre">
     Genre: @Html.DropDownList("movieGenre", "All")
    Title: @Html.TextBox("SearchString") 
    IMDB: @Html.TextBox("SearchString2")
    <input type="submit" value="Filter" />
    <input type="reset" />
</p>
}
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Titol)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataEstrena)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Genere)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Preu)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.IMDB)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Cartell)
            </th>


            <th>
                @Html.DisplayNameFor(model => model.Durada)
            </th>



            <th></th>
        </tr>

        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Titol)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataEstrena)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Genere)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Preu)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IMDB)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Cartell)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Durada)
            </td>



            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ID })
            </td>
        </tr>
        }

    </table>
